<h2>STATS FOR</h2>
<h2><%= @movie.title.upcase %></h2>

<p>
  <%= link_to("Back", "/votes/show/#{Vote.order(:id).last.id}") %>
  <%= link_to("Vote Again?", "/", {class: "new_vote"}) %>
  <%= link_to("Your Profile", "/users/show", {class: "user_profile"}) %>
  <%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
</p>

<p>
  <%= link_to("Total Rounds", "/movies/show/#{@movie.id}") %>: <%= @movie.total_rounds %>
  <br />
  Upvotes: <%= @movie.movie_upvotes %>
  <br />
  Downvotes: <%= @movie.movie_downvotes %>
  <br />
  Win Percent: <%= @movie.movie_win_percent %>
  <br />
  Loss Percent: <%= @movie.movie_loss_percent %>
  <br />
  Button 1 Upvotes: <%= @movie.movie_button_1_up %>
  <br />
  Button 1 Downvotes: <%= @movie.movie_button_1_down %>
  <br />
  Button 2 Upvotes: <%= @movie.movie_button_2_up %>
  <br />
  Button 2 Downvotes: <%= @movie.movie_button_2_down %>
</p>

<p>
  <%= image_tag(@movie.poster, title: @movie.title.upcase) %>
</p>