<h2>VOTE RECORDS</h2>

<p>
<%= link_to("Back", :back) %>
<%= link_to("Vote Again?", "/", {class: "new_vote"}) %>
<%= link_to("Your Profile", "/users/show", {class: "user_profile"}) %>
<%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
</p>

<p>
  <h3>MOVIE RANKS</h3>
  <% rank = 0 %>
  
  <% Vote.movie_rank.each do |movie| %>
    <%= link_to("#{Movie.find(movie[0]).title}", "/movies/index/#{movie[0]}") %>
    <br />
    Rank: <%= rank += 1 %>
    Weight: <%= movie[1] %>
    <br />
  <% end %>

  <br />

  TOTAL VOTES: <%= Vote.ids.count %> and counting...
</p>