<h2>CHOOSE THE SUPERIOR '80s SEQUEL</h2>

<h3>
There can be but one,
<br />
choose wisely...
</h3>

<p>
<%= link_to("Vote Record", votes_path, :method => :get) %>
<%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
</p>

<%= form_for @vote, url: {action: "create"}, html: {class: "votes_form"} do |f| %>
  <%= f.hidden_field :upvote_id, value: @movie_1.id %>
  <%= f.hidden_field :downvote_id, value: @movie_2.id %>
  <%= f.hidden_field :vote_button, value: 1 %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit :type => :image, :src => @movie_1.poster, :title => @movie_1.title.upcase %>
<% end %>
<h4>VS</h4>
<%= form_for @vote, url: {action: "create"}, html: {class: "votes_form"} do |f| %>
  <%= f.hidden_field :upvote_id, value: @movie_2.id %>
  <%= f.hidden_field :downvote_id, value: @movie_1.id %>
  <%= f.hidden_field :vote_button, value: 2 %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit :type => :image, :src => @movie_2.poster, :title => @movie_2.title.upcase %>
<% end %>