<h1>Vote Result</h1>

<p>
<%= link_to("Vote Again?", "/", {class: "new_vote"}) %>
<%= link_to("Vote Record", votes_path, :method => :get) %>
<%= link_to("Your Profile", "/users/show", {class: "user_profile"}) %>
<%= link_to("Log Out", destroy_user_session_path, :method => :delete) %>
</p>

<p>
  <%= link_to(image_tag(Movie.find(Vote.find(params[:id]).upvote_id).poster), "/movies/index/#{Vote.find(params[:id]).upvote_id}", :title => Movie.find(Vote.find(params[:id]).upvote_id).title.upcase) %>
  <h4>TROUNCES</h4>
  <%= link_to(image_tag(Movie.find(Vote.find(params[:id]).downvote_id).poster), "/movies/index/#{Vote.find(params[:id]).downvote_id}", :title => Movie.find(Vote.find(params[:id]).downvote_id).title.upcase) %>
</p>
